<html>
    <head>
      <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
                  integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
                  crossorigin="anonymous"></script>
      <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
          // socket.emit('json', {data: 'I\'m connected!'});
        });

        socket.on('json', function(msg, cb) {
          if (msg.distance !== undefined) {
            document.getElementById("myBar").with = msg.distance;
          }
        });

        socket.on('distance', function(json) {

          console.log(json['distance']);
          console.log(json.distance);
          if (json.distance !== undefined) {
            document.getElementById("myBar").with = json.distance;
          }
        });


        // function sendMessage(message) {
        //   socket.emit('json', {data: NewValue()});
        // }

        function move() {
          var elem = document.getElementById("myBar");
          var width = {{ distBar }};
          var id = setInterval(frame, 10);
          function frame() {
            if (width >= 100) {
              clearInterval(id);
            } else {
              elem.style.width = width;
              // + '%';
            }
          }
        }
        window.onload = move;
      </script>
        <title>Our App</title>
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <h1>Welcome to our application!</h1>
        <div id="myProgress">
          <div id="myBar"></div>
        </div>
    </body>
</html>
