<html>
    <head>
      <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
                  integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
                  crossorigin="anonymous"></script>
        <title>Our App</title>
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <h1>Welcome to our application!</h1>
        <div id="myProgress">
          <div id="myBar"></div>
        </div>
        <script type="text/javascript" charset="utf-8">
          var socket = io();
          var barWidth = 0;
          socket.on('connect', function() {
            // socket.emit('json', {data: 'I\'m connected!'});
          });

          socket.on('distance', function(dist_obj) {
            const json = JSON.parse(dist_obj);
            console.log(json);
            console.log(json.distance);

            if (json.distance !== undefined) {
              barWidth = parseFloat(json.distance);
              console.log(barWidth);
            }
          });

          function move() {
            var elem = document.getElementById("myBar");
            var id = setInterval(frame, 10);
            function frame() {
              if (barWidth >= 100) {
                clearInterval(id);
              } else {
                elem.style.width = barWidth + '%';
                if ((barWidth > 0) && (barWidth < 35)){
                  elem.style.backgroundColor = "red";
                }
                else if ((barWidth >= 35) && (barWidth < 70)) {
                  elem.style.backgroundColor = "yellow";
                }
                else if (barWidth >= 70) {
                  elem.style.backgroundColor = "green"
                }
              }
            }
          }
          window.onload = move();
        </script>
    </body>
</html>
