<html>
    <head>
      <title>My Workout Tracker</title>
      <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='css/style3.css') }}">
      <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
                  integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
                  crossorigin="anonymous"></script>
    </head>

    <body>
      <h1> My Workout </h1>

<div id="container", class = "span">

  <div id="time">
    <div id="timeCircle">
        <div id="timeText">
        </div>
        <div id="timeTextMeasure">
        </br></br>
         hr:min:sec
        </div>
      </div>
  </div>

  <div id="speed">
    <div id="speedCircle">
      <div id="needle">
      </div>
        <div id="speedText">
        </div>
        <div id="speedTextMeasure">
        </br></br>
         m/s
        </div>
      </div>
  </div>

  <div id="distance">
    <div id="distanceCircle">
        <div id="distanceText">
        </div>
        <div id="distanceTextMeasure">
        </br></br>
         meters
        </div>
      </div>
  </div>

  </div>
        <script type="text/javascript" charset="utf-8">
            var socket = io();
            var totalDis = 0;
            var currentSpeed = 0;
            var speedDisplay = 0;
            var disDisplay = 0;

            socket.on('connect', function() {
              // socket.emit('json', {data: 'I\'m connected!'});
            });

            socket.on('distance', function(dist_obj) {
                const json = JSON.parse(dist_obj);
                console.log(json);
                //console.log(json.distance);

                if (json.distance !== undefined) {
                    totalDis = parseFloat(json.distance);
                    disDisplay = totalDis.toString();
                    console.log(totalDis);
                    console.log(disDisplay);
                    setDistance();
                    }
                });
            function setDistance(){
              var disttext = document.getElementById("distanceText");
              disttext.innerHTML = (disDisplay);
            }

            socket.on('speed', function(speed_obj) {
                const json = JSON.parse(speed_obj);
                console.log(json);
                //console.log(json.distance);

                if (json.speed !== undefined) {
                    currentSpeed = parseFloat(json.speed);
                    speedDisplay = currentSpeed.toString();
                    console.log(currentSpeed);
                    console.log(speedDisplay);
                    setSpeed();
                    }
                });
              function setSpeed(){
                var speedtext = document.getElementById("speedText");
                speedtext.innerHTML = (speedDisplay);
              }
          </script>
          <script type="text/javascript" charset="utf-8">
            var startTime = Date.now();
            var second = 1000;
            var minute = second * 60;
            var hour = minute * 60;
            var container = document.getElementById('timeText');

            function stopTimer() {
                clearInterval(timer);
            }

            function pad(n){
              return ('00' + n).slice(-2);
            }
            function showTime(){
            var timer = setInterval(function(){
              var currentTime = Date.now();
              var difference = currentTime - startTime;

              var hours = pad((difference / hour) | 0);
              var minutes = pad(((difference % hour) / minute) | 0);
              var seconds = pad(((difference % minute) / second) | 0);

              container.innerHTML = hours + ':' + minutes + ':' + seconds;
            // This only represents time between renders. Actual time rendered is based
            // on the elapsed time calculated above.
            }, 250);
            console.log(hours + ':' + minutes + ':' + seconds);
          }
            window.onload = showTime();
            </script>
          <!-- <button type="button" onclick="stopTimer()">Stop</button> -->
    </body>
</html>
