/*
color palette:
grey: #282e3a
yellow/orange: #eca72c
Green: #2dcb74
red: #ad343e
Lightgrey: #bcabae
*/


body {
  background-color: #282e3a;
  text-align: center;
}

h1 {
  color: white;
}
h2 {
  color: #bcabae;
}
