/*
color palette:
grey: #282e3a
yellow/orange: #eca72c
Green: #2dcb74
red: #ad343e
Lightgrey: #bcabae
*/


body {
  font-family: Helvetica;
  padding: 20px;
  background: url(pcp_images/web.jpg);
  background-repeat: repeat;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #282e3a;
  opacity: 0.5;
}

h1{
  color: #eca72c;
}
h2{
  color: #282e3a;
  font-size: 30px;
}

h3{
  color: #bcabae;
  font-size: 20px;
}

h5{
  font-size: 17px;
  color: #282e3a;
  font-style: italic;
}

p{
  font-size: 15px;
  text-align: justify;
  color: black;
}



/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 60%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 40%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
