/*
color palette:
grey/blueish: #282e3a
yellow/orange: #eca72c
Green: #2dcb74
red: #ad343e
Lightgrey: #bcabae
*/

/* url(pcp_images/web4.jpg) */


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'),
       local('Roboto-Regular'),
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff)
       format('woff');
}

body {
  font-family: 'Roboto';
  padding: 20px;
  background: white;
}
/*
#backHeader{
  position: absolute;
  width: 100%;
  height: 200px;
  opacity: 0.5;
  background: url(pcp_images/wheelies.jpg);
} */

/* Header/Blog Title */
.header {
  /* padding: 30px; */
  font-size: 40px;
  height: 400px;
  text-align: center;
  background: url(pcp_images/wheelies.jpg);
  padding: 20px;
  opacity: 0.5;
}

h1{
  color: #2dcb74;
  font-size: 40px;
}

h2{
  color: #2dcb74;
  font-size: 20px;
}

h3{
  color: #282e3a;
  font-size: 20px;
}

h5{
  font-size: 17px;
  color: #282e3a;
  font-style: italic;
}

p{
  font-size: 15px;
  text-align: justify;
  color: black;
  line-height: 1.5;
}

.p2{
  font-size: 10px;
  line-height: 1.55;
}

.title{
  font-size: 17px;
  color: #eca72c;
}

/* create indentation for certain paragraphs  */
.tab { margin-left: 40px; }


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 30%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 15px Lightgrey;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
