
body{
background: #282e3a;
font-family: tahoma;
text-align: center;
}

p {
  color: black;
  text-align: center;
  font: helvetica;
  font-size: 30px;
  font-style: italic;
}

h1 {
  color: white;
  text-align: center;
  font: helvetica;
  font-size: 50px;
  top: 100px;
  position: fixed;
}


#container{
  width:100%;
  height:100%;
  position: fixed;
  top: 400px;
  text-align: center;
  }

/* left measure: time */
      #time{
        position: relative;
        display: inline-block;
        top: 80px;
        left: 50px;
        width:30%;
        height:30%;
        text-align: center;
      }

      #timeCircle{
        position: relative;
        display: inline-block;
        top: 8%;
        width: 180px;
        height: 180px;
        background-color: #bcabae;
        box-shadow: 0px 0px 10px black;
        border-top-left-radius: 100px;  /* 100px of height + 10px of border */
        border-top-right-radius: 100px; /* 100px of height + 10px of border */
        border-bottom-left-radius: 100px;  /* 100px of height + 10px of border */
        border-bottom-right-radius: 100px; /* 100px of height + 10px of border */
      }

      #timeContainer{
        position: relative;
        display: inline-block;
        text-align: center;
        top:-180px;
      }

      #timeText{
        position: relative;
        font-size: 35px;
        top: 50px;
        color: white;
      }

      #timeTextMeasure{
        position: relative;
        font-size: 20px;
        color: white;
      }


      #speed{
        position: relative;
        top:50px;
        display: inline-block;
        width:250px;
        height:250px;
        text-align: center;
      }

      /* middle measure: speedometer */
      #myCanvas{
          position: static;
          /* display: inline-block; */
          text-align: center;
      }

      #needle {
        position: absolute;
        width: 10px;
        height: 100px;
        top: 40px;
        left: 48%;
        background: #eca72c;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        /* display: inline-block; */
        -webkit-animation: move 5s infinite;
        transform: rotate(45deg);
        transform-origin: bottom;
      }


#speedCircle{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 20px black;
    background-color: #bcabae;
    border-top-left-radius: 200px;  /* 100px of height + 10px of border */
    border-top-right-radius: 200px; /* 100px of height + 10px of border */
    border-bottom-left-radius: 200px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 200px; /* 100px of height + 10px of border */
}

#textContainer{
  position: relative;
  display: inline-block;
  text-align: center;
  top:-140px;
}

      #speedText{
        position: relative;
        display: inline-block;
        font-size: 35px;
        color: white;
      }

      #speedTextMeasure{
        position: relative;
        display: inline-block;
        font-size: 20px;
        color: white;
        top:-15px;
      }



/* right indicator: distance */
    #distance{
      position: relative;
      display: inline-block;
      top:80px;
      right: 50px;
      width:30%;
      height:30%;
      text-align: center;
    }

    #distanceCircle{
      position: relative;
      display: inline-block;
      box-shadow: 0px 0px 10px black;
      top: 8%;
      width: 180px;
      height: 180px;
      background-color: white;
      border-top-left-radius: 100px;  /* 100px of height + 10px of border */
      border-top-right-radius: 100px; /* 100px of height + 10px of border */
      border-bottom-left-radius: 100px;  /* 100px of height + 10px of border */
      border-bottom-right-radius: 100px; /* 100px of height + 10px of border */
      background-color: #bcabae;
    }


    #distContainer{
      position: relative;
      display: inline-block;
      text-align: center;
      top:-180px;
    }


    #distanceText{
      position: relative;
      font-size: 35px;
      top: 50px;
      color: white;
    }

    #distanceTextMeasure{
      position: relative;
      font-size: 20px;
      color: white;
    }




/* //pause and stop buttons// */
  #options {
    position: relative;
    top:-200px;
    margin: 0 auto;
    text-align: center;
  }


      #pauseCircle{
        width: 50px;
        height: 50px;
        background-color: #eca72c;
        text-align: center;
        display: inline-block;
        margin-top: -130px;
        margin-bottom: 50px;
        /* border: 2px; */
        /* border-color: #eca72c; */
        border-top-left-radius: 150px;  /* 100px of height + 10px of border */
        border-top-right-radius: 150px; /* 100px of height + 10px of border */
        border-bottom-left-radius: 150px;  /* 100px of height + 10px of border */
        border-bottom-right-radius: 150px; /* 100px of height + 10px of border */
      }

      #pauseStripe{
              width: 10px;
              height: 25px;
              display: inline-block;
              background-color: white;
              margin-top: 12px;
        }


    #stopCircle{
      width: 50px;
      height: 50px;
      background-color: #eca72c;
      text-align: center;
      display: inline-block;
      margin-top: -130px;
      margin-bottom: 50px;
      border: 2px;
      border-top-left-radius: 150px;  /* 100px of height + 10px of border */
      border-top-right-radius: 150px; /* 100px of height + 10px of border */
      border-bottom-left-radius: 150px;  /* 100px of height + 10px of border */
      border-bottom-right-radius: 150px; /* 100px of height + 10px of border */
    }

    #stopTriangle{
            width: 25px;
            height: 25px;
            display: inline-block;
            background-color: white;
            margin-top: 12px;
      }


@-webkit-keyframes move {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

#overlay{
  position: fixed;
  width: 200%;
  height: 2000px;
  margin-top: -1000px;
  margin-left: -200px;
  background-color: white;
  text-align: center;
  visibility: hidden;
  opacity: 0.5;
}

#continueButton{
  position: static;
  width: 300px;
  height: 300px;
  background-color:yellow;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  visibility: hidden;
}

#continueTriangle{
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-left: 100px solid red;
        border-bottom: 50px solid transparent;
        display: inline-block;
        margin-top: 100px;
        visibility: hidden;
}


#map {
    position: fixed;
    width: 100%;
    height: 400px;
    background-color: grey;
    /* top:200px; */
}

#canvasTime {
    position: static;
}

#myDist {
    position: static;
}
