<!DOCTYPE html>
<html lang="en">
  <head>
        <title>My Workout</title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/workout.css') }}">
        <script type="text/javascript" charset="utf-8"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDujaeWrLEEsvjjXTAXrACL0AjP9iAKQRk&libraries=drawing&callback=initMap" async defer></script>
        <script src="{{ url_for('static', filename='js/data.js') }}" language="JavaScript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
                    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
                    crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/summary.js') }}" language="JavaScript"></script>

  </head>

  <body onload="draw(120);">

        <h1> My Workout </h1>

        <div id="options" >

          <div id="pauseCircle" onmouseover="hoverPause()" onmouseout="hoverOutPause()" onclick="pauseFunction()">
            <div id="pauseStripe">
            </div>
            <div id="pauseStripe">
            </div>
          </div>

          <div id="stopCircle" onmouseover="hoverFunction()" onmouseout="hoverOutFunction()"> <a href="http://localhost:5000/summary">
            <div id="stopTriangle">
            </div>
            </a>
          </div>
        </div>


  <div id="container", class = "span">

    <div id="time">
      <div id="timeCircle">
          <div id="timeText">
            03:05
          </div>
          <div id="timeTextMeasure">
          </br></br>
           min:sec
          </div>
        </div>
    </div>

    <div id="speed">
      <div id="speedCircle">
        <canvas class="canvas" id="myCanvas" width="300" height="300">
        Your browser does not support the HTML5 canvas tag.</canvas>
        <div id="needle">
        </div>
        </div>
          <div id="speedText">
            25
          </div>
          <div id="speedTextMeasure">
          </br></br>
           km/h
          </div>
        </div>

    <div id="distance">
      <div id="distanceCircle">
          <div id="distanceText">
            100
          </div>
          <div id="distanceTextMeasure">
          </br></br>
           meters
          </div>
        </div>
    </div>
    <div id="map"></div>
    </div>

    <div id="overlay", onclick="continueFunction()">
    </div>

      <script type="text/javascript" charset="utf-8">
        var startTime = Date.now();
        var second = 1000;
        var minute = second * 60;
        var hour = minute * 60;
        var container = document.getElementById('timeText');

        function stopTimer() {
            clearInterval(timer);
        }

        function pad(n){
          return ('00' + n).slice(-2);
        }
        function showTime(){
          var timer = setInterval(function(){
          var currentTime = Date.now();
          var difference = currentTime - startTime;

          var hours = pad((difference / hour) | 0);
          var minutes = pad(((difference % hour) / minute) | 0);
          var seconds = pad(((difference % minute) / second) | 0);

          container.innerHTML = hours + ':' + minutes + ':' + seconds;
        // This only represents time between renders. Actual time rendered is based
        // on the elapsed time calculated above.
        }, 250);
        // console.log(hours + ':' + minutes + ':' + seconds);
      }
        window.onload = showTime();
        </script>
      <!-- <button type="button" onclick="stopTimer()">Stop</button> -->


  </body>
</html>
