body {
  background-color: lightblue;
}

p {
  color: black;
  text-align: center;
  font: helvetica;
  font-size: 30px;
  font-style: italic;
}

h1 {
  color: white;
  text-align: center;
}

#whole {
  text-align: center;
}

#center{
  display: inline-block;
  text-align: center;
}

#span3{
   color: purple;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 36px;
   display: inline-block;
   -webkit-transform: rotate(-45deg);
   position: absolute;
}

#logo {
  display: inline-block;
  position: relative;
  text-align: center;
}

#logo .speedometer {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 20px solid purple;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  -webkit-transform: rotate(45deg);
  display: inline-block;
  text-align: left;
}

#logo .needle {
  width: 10px;
  height: 90px;
  background: #999999;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  display: inline-block;
  left: 90px;
  position: absolute;
  top: 10px;
  -webkit-animation: move 5s infinite;
  transform: rotate(45deg);
  transform-origin: bottom;
}

/* left circle - time */
#j {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 20px solid pink;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  -webkit-transform: rotate(45deg);
  display: inline-block;
  text-align: center;
}

#span1{
   color: pink;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 36px;
   position: absolute;
   top: 20px;
   left: 20px;
   display: inline-block;
   -webkit-transform: rotate(-45deg);
}

/* right circle: distance */
#h {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 20px solid lightgreen;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  -webkit-transform: rotate(45deg);
  display: inline-block;
  text-align: center;
}

#span2{
  color: green;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 36px;
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
}

@-webkit-keyframes move {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}


/* h3 {
  position: relative;
  text-align: center;
  font:arial;
  font-size: 16px;
  color: lightgreen;

} */



/* #j .h2 {
    text-align: center;
    font:arial;
    font-size: 16px;
    color: pink;
  }
} */
