body {
  background-color: lightblue;
  margin: 10%;
}

p {
  color: black;
  text-align: center;
  font: helvetica;
  font-size: 30px;
  font-style: italic;
}

h1 {
  color: white;
  text-align: center;
}

#container{
  width:800px;
  height:800px;
  position: relative;
  top: 20%;
  background-color:white;
  margin: 0 auto;
  text-align: center;
  }

/* left measure: time */
      #time{
      position: relative;
      top: 60%;
      width:30%;
      height:30%;
      background-color:red;
      text-align: center;
      display: inline-block;
      border-top-left-radius: 30px;  /* 100px of height + 10px of border */
      border-top-right-radius: 30px; /* 100px of height + 10px of border */
      border-bottom-left-radius: 30px;  /* 100px of height + 10px of border */
      border-bottom-right-radius: 30px; /* 100px of height + 10px of border */
      /* margin: 0 auto; */
      }

      #timeCircle{
        position: relative;
        display: inline-block;
        top: 8%;
        width: 80%;
        height: 80%;
        background-color: white;
        border-top-left-radius: 100px;  /* 100px of height + 10px of border */
        border-top-right-radius: 100px; /* 100px of height + 10px of border */
        border-bottom-left-radius: 100px;  /* 100px of height + 10px of border */
        border-bottom-right-radius: 100px; /* 100px of height + 10px of border */
        border: 5px solid lightgreen;
      }

      #timeText{
        position: relative;
        font-size: 48px;
        top: 50px;
        color: red;
      }

      #timeTextMeasure{
        position: relative;
        font-size: 24px;
        color: red;
      }

/* middle measure: speedometer */

      #speed{
      position: relative;
      top: 60%;
      width:30%;
      height:30%;
      background-color:lightgreen;
      text-align: center;
      display: inline-block;
      border-top-left-radius: 30px;  /* 100px of height + 10px of border */
      border-top-right-radius: 30px; /* 100px of height + 10px of border */
      border-bottom-left-radius: 30px;  /* 100px of height + 10px of border */
      border-bottom-right-radius: 30px; /* 100px of height + 10px of border */
      /* margin: 0 auto; */
      }

      #needle {
        width: 5px;
        height: 100px;
        background: lightblue;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        display: inline-block;
        position: absolute;
        -webkit-animation: move 5s infinite;
        transform: rotate(45deg);
        transform-origin: bottom;
      }

      /* #speedCircle{
        position: relative;
        top: 10%;
        background: white;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        display: inline-block;
      } */

#speedCircle{
    position: relative;
    display: inline-block;
    top: 8%;
    width: 80%;
    height: 60%;
    background-color: white;
    border-top-left-radius: 100px;  /* 100px of height + 10px of border */
    border-top-right-radius: 100px; /* 100px of height + 10px of border */
    border-bottom-left-radius: 20px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 20px; /* 100px of height + 10px of border */
    border: 5px solid pink;
    /* border-bottom: 0; */

}

      #speedText{
        position: relative;
        font-size: 48px;
        top: 50px;
        color: lightgreen;
      }

      #speedTextMeasure{
        position: relative;
        font-size: 24px;
        color: lightgreen;
      }


/* right measure: distance */

    #distance{
    position: relative;
    top: 60%;
    width:30%;
    height:30%;
    background-color:pink;
    text-align: center;
    display: inline-block;
    border-top-left-radius: 30px;  /* 100px of height + 10px of border */
    border-top-right-radius: 30px; /* 100px of height + 10px of border */
    border-bottom-left-radius: 30px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 30px; /* 100px of height + 10px of border */
    /* margin: 0 auto; */
    }

    #distanceCircle{
      position: relative;
      display: inline-block;
      top: 8%;
      width: 80%;
      height: 80%;
      background-color: white;
      border-top-left-radius: 100px;  /* 100px of height + 10px of border */
      border-top-right-radius: 100px; /* 100px of height + 10px of border */
      border-bottom-left-radius: 100px;  /* 100px of height + 10px of border */
      border-bottom-right-radius: 100px; /* 100px of height + 10px of border */
      border: 5px solid red;
    }

    #distanceText{
      position: relative;
      font-size: 48px;
      top: 50px;
      color: pink;
    }

    #distanceTextMeasure{
      position: relative;
      font-size: 24px;
      color: pink;
    }


@-webkit-keyframes move {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
