<!DOCTYPE html>
<html lang="en">
  <head>
        <title> Our App - home </title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/start.css') }}">

        <script type="text/javascript" charset="utf-8"></script>
        <script src="{{ url_for('static', filename='js/start.js') }}" language="JavaScript"></script>

  </head>

  <body>

    <h1> Start your Workout </h1>

    <!-- start button (phase 1) -->
  <div id="main">
    <div id="playButton" onmouseover="hoverFunction()" onmouseout="hoverOutFunction()" onclick ="startFunction()" ></div>
  </div>

        <div id="del-countdown">
          <div id="clock"> 3 </div>
          <div id="units"> Seconds </div>
        </div>

    <!-- <div id="container">
          <div id="startButton" onmouseover="hoverFunction()" onmouseout="hoverOutFunction()" onclick ="hideStartButton" onclick="startTimer()" >
            <div id="startTriangle">
            </div>
          </div>
    </div> -->

<!--         <a href="http://localhost:5000/Workout">      -->
<!-- counter (phase )-->

  </body>
</html>
