<!DOCTYPE html>
<html lang="en">
  <head>
        <title> Our App - home </title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/start.css') }}">

        <script type="text/javascript" charset="utf-8"></script>
        <script src="{{ url_for('static', filename='js/start.js') }}" language="JavaScript"></script>

  </head>

  <body>

    <h1 id="header"> Start your Workout </h1>

    <!-- start button (phase 1) -->
  <div id="main">
    <div id="playButton" onmouseover="hoverFunction()" onmouseout="hoverOutFunction()" onclick ="startFunction()"></div>
  </div>

  <div id="del-countdown">
      <p id="clock"></p>
      <div id="units"> Seconds </div>
  </div>

  </body>
</html>
