<!DOCTYPE html>
<html lang="en">
  <head>
        <title> Our App - home </title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/summary.css') }}">

        <script type="text/javascript" charset="utf-8"></script>
        <script src="{{ url_for('static', filename='js/summary.js') }}" language="JavaScript"></script>

  </head>

  <body>

    <h1> My Workout Summary </h1>

    <!-- <button onclick="startWorkout()">start</button> -->
    <div id="container" >
        <a href="http://localhost:5000/start">
          <div id="reStartButton">
            <div id="reStartTriangle">
            </div>
          </div>
        </a>
    </div>

  </body>
</html>
