<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Our App</title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/style3.css') }}">
  </head>

  <body>
        <h1> My Workout </h1>

  <div id="container", class = "span">

    <div id="time">
      <div id="timeCircle">
          <div id="timeText">
            03:05
          </div>
          <div id="timeTextMeasure">
          </br></br>
           min:sec
          </div>
        </div>
    </div>

    <div id="speed">
      <div id="speedCircle">
        <div id="needle">
        </div>
          <div id="speedText">
            25
          </div>
          <div id="speedTextMeasure">
          </br></br>
           km/h
          </div>
        </div>
    </div>

    <div id="distance">
      <div id="distanceCircle">
          <div id="distanceText">
            100
          </div>
          <div id="distanceTextMeasure">
          </br></br>
           meters
          </div>
        </div>
    </div>

    </div>
  </body>
</html>
