<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Our App</title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/style3.css') }}">
  </head>

  <body>
        <h1> My Workout </h1>

<div id="whole">
  <div id="Container", class = "span", style="width:80%; height:200px; background-color:white; margin:auto;">

    <div id="time", style="background-color:red; margin:20px;">
      <div id="timeCircle">
      </div>
      <div id="timeText">
        12:05
      </div>
    </div>

    <div id="speed", style="background-color:blue; margin:20px;">
      <div id="speedCircle">
      </div>
      <div id="speedNeedle">
      </div>
      <div id="speedText">
        25
        km/h
      </div>
    </div>

    <div id="distance", style="background-color:pink; margin:20px;">
      <div id="distanceCircle">
      </div>
      <div id="distanceText">
        100
        meters
      </div>
    </div>

  </div>
</div>
    <!-- <div id="h"> <div class="header"></div>
        </div> -->
  </body>
</html>
