<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Our App</title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/style2.css') }}">
  </head>

  <body>
        <h1> My Workout Dashboard </h1>

        <p> Track your workout </p>

        <!-- <div id="myCircle"></div>
        <div id="myCircle2"></div>
        <div id="myCircle3"></div> -->

<div id="whole">

        <div id="j">
            <span class="value1"> 0 </span>
        </div>

        <div id="logo">	<span class="speedometer"></span>
            <span class="needle"></span>
        </div>

        <div id="h">
            <span class="value2"> 0 </span>
        </div>

</div>

        <!-- <div id="h"> <div class="header"></div>
        </div> -->

  </body>
</html>
