<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Our App</title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/style2.css') }}">
  </head>

  <body>
        <h1> My Workout </h1>

<div id="whole", class="span">

        <div id="j">
             <div class="span1">
              03:05
              <br />
                <div class="span5">
                min:sec
                </div>
             </div>
        </div>

        <div id="center">
          <div class="span3">
            2.8
            <br />
            <div class="span6">
            km/h
            </div>
         </div>


            <div id="logo">
              <span class="speedometer"></span>
              <span class="needle"></span>
            </div>
        </div>

        <div id="h">
            <div class="span2">
              5.2
              <br />
              <div class="span4">
                         meters
                      </div>
                    </div>
        </div>

</div>
    <!-- <div id="h"> <div class="header"></div>
        </div> -->
  </body>
</html>
