<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Our App</title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/style2.css') }}">
  </head>

  <body>
        <h1> My Workout </h1>

        <p> Speed </p>

        <!-- <div id="myCircle"></div>
        <div id="myCircle2"></div>
        <div id="myCircle3"></div> -->

<div id="whole">

        <div id="j">
             <span id="span1">3:05</span>
        </div>

        <div id="center">
          <span id="span3">2.8</span>
            <div id="logo">
              <span class="speedometer"></span>
              <span class="needle"></span>
            </div>
        </div>

        <div id="h">
            <span id="span2">5.2</span>
        </div>

</div>
    <!-- <div id="h"> <div class="header"></div>
        </div> -->
  </body>
</html>
