body {
  background-color: lightblue;
}

p {
  color: black;
  text-align: center;
  font: helvetica;
  font-size: 30px;
  font-style: italic;
}

h1 {
  color: white;
  text-align: center;
}

#whole {
background-color: lightblue;
margin: 10%;
}

#container{
  text-align: center;
}

#speed{
  display: inline-block;
}

#time{
  display: inline-block;
}

#distance{
  display: inline-block;
}

/* #logo {
  display: inline-block;
  position: relative;
  text-align: center;
}

#logo .speedometer {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 20px solid purple;
  border-right: 20px solid lightblue;
  border-bottom: 20px solid lightblue;
  -webkit-transform: rotate(45deg);
  display: inline-block;
  text-align: left;
}

#logo .needle {
  width: 10px;
  height: 100px;
  background: #999999;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  display: inline-block;
  left: 115px;
  position: absolute;
  top: 15px;
  -webkit-animation: move 5s infinite;
  transform: rotate(45deg);
  transform-origin: bottom;
}

/* text below the middle speedometer - should be dependent on socket data */
.span3{
   color: purple;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 36px;
   display: inline-block;
   position: absolute;
   text-align: center;
   left:48%;
   top:140px;
}
/* "km/h" text below the middle speedometer*/
.span6{
   left: 10px;
   color: purple;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 12px;
   display: inline-block;
   position: absolute;
   /* text-align: center; */
}


/* left circle - time */
#j {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 20px solid pink;
  border-right: 20px solid pink;
  border-bottom: 20px solid pink;
  -webkit-transform: rotate(45deg);
  display: inline-block;
  text-align: left;
}

.span1{
   color: pink;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 24px;
   position: absolute;
   display: inline-block;
   -webkit-transform: rotate(-45deg);
  top: 30px;
  left: 20px;
  /* text-align: center; */
}

.span5{
   left: 8px;
   color: purple;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 12px;
   display: inline-block;
   position: absolute;
   text-align: center;
}

/* right circle: distance */
#h {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 20px solid lightgreen;
  border-right: 20px solid lightgreen;
  border-bottom: 20px solid lightgreen;
  -webkit-transform: rotate(45deg);
  display: inline-block;
  text-align: center;
}

.span2{
  color: green;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 24px;
  position: absolute;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
  text-align: center;
  top: 30px;
  left: 30px;
}

.span4{
   left: -2px;
   color: purple;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 12px;
   display: inline-block;
   position: absolute;
   text-align: center;
}

@-webkit-keyframes move {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
} */
