
body{
background: #282e3a;
font-family: tahoma;
}

p {
  text-align: center;
  position: relative;
  margin-top: 30px;
  font: tahoma;
  color: #282e3a;
  font-size: 20px;
  font-style: oblique;
}

h1 {
  color: white;
  text-align: center;
  font: helvetica;
  font-size: 50px;
}


.subtext{
  color: #282e3a;
  position: relative;
  font-size: 18px;
  font-style: italic;
}




#container{
  width:100%;
  height:100%;
  position: relative;
  top: 200px;
  text-align: center;
  }

/* left measure: time */
      #time{
        position: relative;
        display: inline-block;
        top: 80px;
        left: 50px;
        width:30%;
        height:30%;
        text-align: center;
      }

      #timeCircle{
        position: relative;
        display: inline-block;
        top: 8%;
        width: 180px;
        height: 180px;
        background-color: #bcabae;
        box-shadow: 0px 0px 10px black;
        border-top-left-radius: 100px;  /* 100px of height + 10px of border */
        border-top-right-radius: 100px; /* 100px of height + 10px of border */
        border-bottom-left-radius: 100px;  /* 100px of height + 10px of border */
        border-bottom-right-radius: 100px; /* 100px of height + 10px of border */
      }


      #timeContainer{
        position: relative;
        display: inline-block;
        text-align: center;
        top:-130px;
      }

      #totalTime{
          position: relative;
          font-size: 15px;
          color: white;
      }

      #timeText{
        position: relative;
        font-size: 35px;
        color: white;
      }

      #timeTextMeasure{
        position: relative;
        font-size: 15px;
        color: white;
      }




      #speed{
        position: relative;
        top:100px;
        display: inline-block;
        width:250px;
        height:250px;
        text-align: center;
      }

      /* middle measure: speedometer */
      #myCanvas{
          position: relative;
          /* display: inline-block; */
          text-align: center;
      }

#speedCircle{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 20px black;
    background-color: #bcabae;
    border-top-left-radius: 200px;  /* 100px of height + 10px of border */
    border-top-right-radius: 200px; /* 100px of height + 10px of border */
    border-bottom-left-radius: 200px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 200px; /* 100px of height + 10px of border */
}


      #speedContainer{
        position: relative;
        display: inline-block;
        text-align: center;
        top:-180px;
      }

      #totalSpeed{
          position: relative;
          font-size: 20px;
          color: white;
      }

      #speedText{
        position: relative;
        font-size: 50px;
        color: white;
      }

      #speedTextMeasure{
        position: relative;
        font-size: 20px;
        color: white;
      }





/* right indicator: distance */
    #distance{
      position: relative;
      display: inline-block;
      top:80px;
      right: 50px;
      width:30%;
      height:30%;
      text-align: center;
    }

    #distanceCircle{
      position: relative;
      display: inline-block;
      box-shadow: 0px 0px 10px black;
      top: 8%;
      width: 180px;
      height: 180px;
      background-color: white;
      border-top-left-radius: 100px;  /* 100px of height + 10px of border */
      border-top-right-radius: 100px; /* 100px of height + 10px of border */
      border-bottom-left-radius: 100px;  /* 100px of height + 10px of border */
      border-bottom-right-radius: 100px; /* 100px of height + 10px of border */
      background-color: #bcabae;
    }


    #distContainer{
      position: relative;
      display: inline-block;
      text-align: center;
      top:-130px;
    }

    #totalDist{
        position: relative;
        font-size: 15px;
        color: white;
    }

    #distanceText{
      position: relative;
      font-size: 35px;
      color: white;
    }

    #distanceTextMeasure{
      position: relative;
      font-size: 15px;
      color: white;
    }




/* //pause and stop buttons// */
  #options {
    position: relative;
    top:20px;
    margin: 0 auto;
    text-align: center;
  }

      #newCircle{
        width: 50px;
        height: 50px;
        background-color: #eca72c;
        text-align: center;
        display: inline-block;
        margin-top: -130px;
        margin-bottom: 50px;
        /* border: 2px; */
        /* border-color: #eca72c; */
        border-top-left-radius: 150px;  /* 100px of height + 10px of border */
        border-top-right-radius: 150px; /* 100px of height + 10px of border */
        border-bottom-left-radius: 150px;  /* 100px of height + 10px of border */
        border-bottom-right-radius: 150px; /* 100px of height + 10px of border */
      }

      #newTriangle{
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-left: 30px solid white;
        border-bottom: 15px solid transparent;
        display: inline-block;
        margin-top:9px;
        margin-left: 5px;
        /* margin-top: 100px; */
        /* visibility: hidden; */
        }
