
body{
background: #282e3a;
font-family: tahoma;
}

p {
  color: black;
  text-align: center;
  font: helvetica;
  font-size: 30px;
  font-style: italic;
}

h1 {
  color: white;
  text-align: center;
  font: helvetica;
  font-size: 50px;
}


#container{
  width:90%;
  height:90%;
  position: relative;
  top: 250px;
  /* background-color:white; */
  margin: 0 auto;
  text-align: center;
  /* -webkit-transform-origin: top left; */
  }

/* left measure: time */
      #time{
      position: relative;
      top: 60%;
      width:30%;
      height:30%;
      text-align: center;
      display: inline-block;
      }

      #timeCircle{
        position: relative;
        display: inline-block;
        top: 8%;
        width: 200px;
        height: 200px;
        background-color: white;
        border-top-left-radius: 100px;  /* 100px of height + 10px of border */
        border-top-right-radius: 100px; /* 100px of height + 10px of border */
        border-bottom-left-radius: 100px;  /* 100px of height + 10px of border */
        border-bottom-right-radius: 100px; /* 100px of height + 10px of border */
        border: 5px solid lightgreen;
      }

      #timeText{
        position: relative;
        font-size: 48px;
        top: 50px;
        color: red;
      }

      #timeTextMeasure{
        position: relative;
        font-size: 24px;
        color: red;
      }

/* middle measure: speedometer */

      #speed{
      position: relative;
      top: -50px;
      width:30%;
      height:30%;
      text-align: center;
      display: inline-block;
      }

      #needle {
        width: 5px;
        height: 100px;
        background: lightblue;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        display: inline-block;
        position: absolute;
        -webkit-animation: move 5s infinite;
        transform: rotate(45deg);
        transform-origin: bottom;
      }

      /* #speedCircle{
        position: relative;
        top: 10%;
        background: white;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        display: inline-block;
      } */

#speedCircle{
    position: relative;
    display: inline-block;
    top: 8%;
    width: 200px;
    height: 150px;
    background-color: white;
    border-top-left-radius: 100px;  /* 100px of height + 10px of border */
    border-top-right-radius: 100px; /* 100px of height + 10px of border */
    border-bottom-left-radius: 20px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 20px; /* 100px of height + 10px of border */
    border: 5px solid pink;
    /* border-bottom: 0; */
}

      #speedText{
        position: relative;
        font-size: 48px;
        top: 50px;
        color: lightgreen;
      }

      #speedTextMeasure{
        position: relative;
        font-size: 24px;
        color: lightgreen;
      }


/* right measure: distance */

    #distance{
    position: relative;
    top: 100%;
    width:30%;
    height:30%;
    text-align: center;
    display: inline-block;
    }

    #distanceCircle{
      position: relative;
      display: inline-block;
      top: 8%;
      width: 200px;
      height: 200px;
      background-color: white;
      border-top-left-radius: 100px;  /* 100px of height + 10px of border */
      border-top-right-radius: 100px; /* 100px of height + 10px of border */
      border-bottom-left-radius: 100px;  /* 100px of height + 10px of border */
      border-bottom-right-radius: 100px; /* 100px of height + 10px of border */
      border: 5px solid red;
    }

    #distanceText{
      position: relative;
      font-size: 48px;
      top: 50px;
      color: pink;
    }

    #distanceTextMeasure{
      position: relative;
      font-size: 24px;
      color: pink;
    }

  #options {
    position: relative;
    top:20px;
    margin: 0 auto;
    text-align: center;
  }

      #pauseCircle{
        width: 50px;
        height: 50px;
        background-color: #eca72c;
        text-align: center;
        display: inline-block;
        margin-top: -130px;
        margin-bottom: 50px;
        border: 2px;
        /* border-color: #eca72c; */
        border-top-left-radius: 150px;  /* 100px of height + 10px of border */
        border-top-right-radius: 150px; /* 100px of height + 10px of border */
        border-bottom-left-radius: 150px;  /* 100px of height + 10px of border */
        border-bottom-right-radius: 150px; /* 100px of height + 10px of border */
      }

      #pauseStripe{
              width: 10px;
              height: 25px;
              display: inline-block;
              background-color: white;
              margin-top: 12px;
        }


    #stopCircle{
      width: 50px;
      height: 50px;
      background-color: #eca72c;
      text-align: center;
      display: inline-block;
      margin-top: -130px;
      margin-bottom: 50px;
      border: 2px;
      border-top-left-radius: 150px;  /* 100px of height + 10px of border */
      border-top-right-radius: 150px; /* 100px of height + 10px of border */
      border-bottom-left-radius: 150px;  /* 100px of height + 10px of border */
      border-bottom-right-radius: 150px; /* 100px of height + 10px of border */
    }

    #stopTriangle{
            width: 25px;
            height: 25px;
            display: inline-block;
            background-color: white;
            margin-top: 12px;
      }


@-webkit-keyframes move {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

#overlay{
  position: fixed;
  width: 200%;
  height: 2000px;
  margin-top: -1000px;
  margin-left: -200px;
  background-color: white;
  text-align: center;
  visibility: hidden;
  opacity: 0.5;
}

#continueButton{
  position: static;
  width: 300px;
  height: 300px;
  background-color:yellow;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  visibility: hidden;
}

#continueTriangle{
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-left: 100px solid red;
        border-bottom: 50px solid transparent;
        display: inline-block;
        margin-top: 100px;
        visibility: hidden;
}
